@import '../../bower_components/neat/app/assets/stylesheets/neat-helpers';

// Displays the visual grid when set to true.
$visual-grid: true;
//Sets the visual grid color
$visual-grid-color: #eee;
// Sets the z-index property of the visual grid. Can be back (behind content) or front (in front of content).
$visual-grid-index: back;
// Sets the opacity property of the visual grid.
$visual-grid-opacity: 0.4;

// layout
// Grid system
$grid-columns: 12;
$sidebar-columns: 4;
$max-width: 1170px;

// Breakpoints
$small-screen: 480px;
$medium-screen: 620px;
$large-screen: 955px;
$wide-screen: 1200px;

$small-screen-up: new-breakpoint(min-width $small-screen);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);
$wide-screen-up: new-breakpoint(min-width $wide-screen);
